In [1]:
import sys
import pandas as pd
import numpy as np
from sklearn.cross_validation import KFold
from sklearn import ensemble
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb

In [25]:
guar.tail(5)

       Min   Max  Model       Date
1187  2000  2500   2200 2016-09-27
1188  2000  2400   2200 2016-09-28
1189  2000  2400   2200 2016-09-29
1190  2000  2400   2200 2016-09-30
1191  2500  3000   2700 2016-10-01

In [24]:
guar=pd.read_excel("guar1.xls")

In [37]:
guar["Date"]=pd.to_datetime(guar["Date"])

In [39]:
guar.head(5)

    Min   Max  Model       Date
0  2200  3200   2700 2010-01-01
1  2400  3200   2800 2010-01-02
2  2000  3000   2500 2010-01-04
3  1400  1800   1600 2010-01-05
4  2200  2800   2500 2010-01-07

In [40]:
guar.describe()

               Min          Max        Model
count  1192.000000  1192.000000  1192.000000
mean   2310.989933  3368.543624  2820.889262
std     891.204353   964.846136   907.448077
min     200.000000   700.000000   500.000000
25%    1775.000000  2800.000000  2200.000000
50%    2000.000000  3400.000000  2800.000000
75%    3000.000000  4000.000000  3425.000000
max    5500.000000  6000.000000  5700.000000

In [43]:
guar.Date.str.split()

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas